include ./header
doctype html
head
  title Admin Dashboard
section.ftco-section
  .container
    .row.justify-content-center
      .col-md-6.text-center.mb-5
        h2.heading-section Users Details
    .row
      .col-md-12
        .table-wrap
          table.table
            thead.thead-primary
              tr
                th User Name
                th Email
                th Phone
                th Address
                th Status
                th Action
            tbody
            each users in user
              tr
                td #{users.fullname}
                td #{users.email}
                td #{users.phone}
                td #{users.address}
                td #{users.status}
                td
                  a.btn.btn-primary(href=`/admin/editAdmin/${users._id}`) Edit
                  a.btn.btn-danger(href=`/admin/delete/${users._id}`, onclick='return confirm("You are going to delete this record. Continue?")')   Delete

