include ./header
include ./headerBuyer


section#Contact
  .section-info.flex
    .section-bar
  .container
    .contact.form
      form(action='/requestCredit', method='post') 
        .contact-bg
          .contact-form
            .contact-details
              .contact-header
                .contact-head-middle
                  h4 Request for Product
              .contact-body
                .contact-body-item
                  .app-form
                    .app-form-group
                      input(type='hidden' name='_id' value=`${data._id}`)
                    .app-form-group
                      p= `${data.fullname}`
                    .app-form-group
                      input(type='hidden' name='email' value=`${data.email}`)
                    .app-form-group
                        input(type='hidden' name='name' value=`${data.fullname}`)
                    .app-form-group.message
                      input.app-form-control(placeholder='Enter The Product Name' type='textarea' name='message')
                    .app-form-group.buttons
                      button.app-form-button(type='cancel') CANCEL
                      button.app-form-button(type='submit') REQUEST
                    .app-form-group.buttons

                  .contact-alerts
                    if errors
                      for error, i in errors
                        div.alert.alert-danger #{error}
                    if messages
                      for message in messages
                        div.alert.alert-info #{message}

